 .search-box {
     min-width: 430px;
     text-align: left;
     padding: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     font-family: 'Poppins', sans-serif;
 }
 
 .form-title {
     font-weight: 800;
     font-size: 50px;
     color: #0C4284;
     font-style: normal;
     line-height: 75px;
 }
 
 .form-item {
     margin-top: 20px;
 }
 
 .form-item,
 .link {
     color: #1473E6;
     text-align: right;
 }
 
 .link:hover {
     color: red;
     cursor: pointer;
     text-decoration: underline;
 }